<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MDialogo_DB.Properties.Settings.MDialogo_DBConnectionString"
            connectionString="Data Source=.\SQLMD;Initial Catalog=MDialogo_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>