CREATE DATABASE [MDialogo_DB] ON  PRIMARY 
( NAME = N'MDialogo_DB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\MDialogo_DB.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MDialogo_DB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\MDialogo_DB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [MDialogo_DB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [MDialogo_DB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
